<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.dao.UsersDao">
	<resultMap type="com.newer.bean.Users" id="u">
		<id column="u_id" property="uid" />
		<result column="u_name" property="uname" />
		<result column="u_password" property="upassword" />
		<result column="u_root" property="uroot"/>
		<result column="u_sex" property="usex"/>
		<result column="u_email" property="uemail"/>
		<result column="u_state" property="ustate"/>
		
	</resultMap>
	<select id="login" resultMap="u" parameterType="com.newer.bean.Users">
		select * from users where u_name=#{uname} and u_password=#{upassword}
	</select>
</mapper>
